<!DOCTYPE html>
<!--suppress ThymeleafVariablesResolveInspection -->
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<!--顶部js,css引用-->
<footer th:fragment="commonHerd">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ivan | 博客管理系统</title>
    <link rel="icon" href="http://www.ivan.group/files/blog/avg.jpg">

    <link th:href="@{/css/bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/font-awesome.css}" rel="stylesheet" />
    <link th:href="@{/js/morris/morris-0.4.3.min.css}" rel="stylesheet" />
    <link th:href="@{/css/custom-styles.css}" rel="stylesheet" />
    <link th:href="@{/js/dataTables/dataTables.bootstrap.css}" rel="stylesheet" />
    <link th:href="@{/css/common.css}" rel="stylesheet" />

    <script th:src="@{/js/jquery-1.10.2.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/jquery.metisMenu.js}"></script>
    <script th:src="@{/js/morris/raphael-2.1.0.min.js}"></script>
    <script th:src="@{/js/morris/morris.js}"></script>
    <script th:src="@{/js/custom-scripts.js}"></script>
    <script th:src="@{/js/dataTables/jquery.dataTables.js}"></script>
    <script th:src="@{/js/dataTables/dataTables.bootstrap.js}"></script>
</footer>

</html>