<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ivan.blog.dao.BlogCommentMapper" >
  <resultMap id="BaseResultMap" type="com.ivan.blog.model.BlogComment" >
    <constructor >
      <idArg column="id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="content" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="email" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="name" jdbcType="VARCHAR" javaType="java.lang.String" />
      <arg column="create_time" jdbcType="TIMESTAMP" javaType="java.util.Date" />
      <arg column="parent_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
      <arg column="article_id" jdbcType="INTEGER" javaType="java.lang.Integer" />
    </constructor>
  </resultMap>

  <sql id="Base_Column_List" >
    id, content, email, name, create_time, parent_id, article_id
  </sql>

  <sql id="Join_Column_List">
    bc.id, bc.content, bc.email, bc.name, bc.create_time, bc.parent_id, bc.article_id
  </sql>

  <!--查询文章列表-->
  <select id="selectList" resultType="com.ivan.blog.model.BlogComment">
    select <include refid="Base_Column_List" /> from blog_comment
    order by id desc
  </select>

  <!--根据id查询评论-->
  <select id="selectById" resultType="com.ivan.blog.model.BlogComment">
    select <include refid="Base_Column_List" /> from blog_comment
    where id = #{id}
  </select>

  <!--根据文章id查询评论列表-->
  <select id="selectByArticel" resultType="com.ivan.blog.model.BlogComment">
    select <include refid="Join_Column_List"/> from blog_comment bc
    left join blog_article ba on ba.id = bc.article_id
    where ba.id = #{articleId}
  </select>

  <select id="selectByParent" resultType="com.ivan.blog.model.BlogComment">
    select <include refid="Base_Column_List"/> from blog_comment where parent_id = #{parentId}
  </select>

</mapper>